<?xml version="1.0" encoding="UTF-8"?>
<!-- <suite name="Suite" parallel="methods" thread-count="2" > -->
<suite name="Suite"  >

	<listeners>
		 <listener class-name="testnglistener.CustomTestNGListener" /> 

		 <listener class-name="testnglistener.AnotatorForRetry" /> 

	</listeners>
	

	<test name="NewTest">
		<parameter name="configPath" value="./TestConfigs" />
		<classes>
			<class name="TestClient.Tests.Google" />
		</classes>
	</test>



	<!-- Test -->
	<!-- <test name="secondtestcase"> <parameter name="configPath" value="./TestConfigs" 
		/> <classes> <class name="com.bnkar.locator.SecondTestCase" /> </classes> 
		</test> --> <!-- Test -->

</suite> 